{{!-- <div class="container">
    <div class="row">
        <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
    </div>


</div> --}}
<div class="container" heigth="70%" width="100%">
    <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>


</div>