<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sastasaman.PK</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/aos-master/dist/aos.css">
    <script src="/aos-master/dist/aos.js"></script>

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/s1.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/s1.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/s1.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/s1.jpg">
    <link rel="apple-touch-icon-precomposed" href="/images/s1.jpg">
</head>

<body>
    {{> home/navbar}}




    {{{ body }}}


    {{> home/footer}}
</body>
<script>
    AOS.init();
</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>

<script src="/js/location.js"></script>

</html>