<section id="bottom" class="wet-asphalt" data-aos="zoom-out" data-aos-duration="1500">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4 data-aos="fade-right" data-aos-duration="1600">About Us</h4>
                <p>The purpose of this document is to present a detailed description of the Cost tracking Web
                    application. It will explain the purpose and features of the system, the interfaces of the system,
                    what the system will do, how to perform the function and the constraints under which it must operate
                    and how the system will react to external stimuli.</p>
            </div>


            <div class="col-md-3 col-sm-6">
                <h4 data-aos="fade-right" data-aos-duration="1600"><u>Team Members</u></h4>
                <div>
                    <ul class="arrow">
                        <li>Syed Ali Haider </li>
                        <li>Hasham javed</li>
                        <li>Sajjawal Sajjad</li>
                        <li>Usama Arshad</li>
                        <br>
                        <br>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms of Use</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <h4 data-aos="fade-left" data-aos-duration="1600">Latest News</h4>
                <div>
                    <div class="media">
                        <div class="media-body"> <span class="media-heading"><a href="https://www.huawei.com/en/">Huawei
                                    launch new foaldable phone Huawei Mate x</a></span> <small class="muted">Posted:24
                                Feb 2019</small> </div>
                    </div>
                    <div class="media">
                        <div class="media-body"> <span class="media-heading"><a href="https://www.nokia.com/">Nokia
                                    Launch new Nokia phone in WMC is Nokia 9</a></span> <small class="muted">Posted: 24
                                Feb 2010</small> </div>
                    </div>
                    <div class="media">
                        <div class="media-body"> <span class="media-heading"><a
                                    href="https://www.samsung.com/us/">Samsung Launch new Note, 10, 10+
                                    phone</a></span> <small class="muted">Posted: 16 Aug 2019</small> </div>
                    </div>
                </div>
            </div>
            <!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4 data-aos="fade-left" data-aos-duration="1600">Address</h4>
                <address>
                    <strong>Lahore, Pakistan.</strong><br>
                    House No. 7B , Friends Colony , Samanabad Lahore Pakistan<br>
                    <abbr title="Phone">Mobile No.:</abbr> (+92) 3025864814
                </address>

            </div>

        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> &copy; 2019 <a target="_blank" href="#" title="Sastasaman">Sastasaman.PK</a>. All
                Rights Reserved. </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutUs">About Us</a></li>


                    <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>