<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"
                    style="width: 200px; height: 60px;"></a> </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class=""><a href="/">Home</a></li>


                <li><a href="/register">Registration</a></li>
                <li><a href="/userlogin">Login</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <i
                            class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/phone">Mobile</a></li>
                        {{!-- <li><a href="/laptop">Laptop</a></li> --}}


                        <li class="divider"></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms of Use</a></li>
                    </ul>
                </li>
                <li><a href="/aboutUs">About Us</a></li>
                {{!-- <li><a href="/contact_us">Contact</a></li> --}}
                {{!-- <li><a href="/admin">Admin</a></li> --}}
                <li><a href="/login">Admin Login</a></li>


            </ul>
        </div>
    </div>
</header>