<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>

            <form action="/search" method="get" class="form-inline">
                <div class="">
                    <input style="width:30%; height:36px;" class="form-control " type="text" name="search"
                        placeholder="Search" aria-label="Search">
                    <input type="submit" class="btn btn-primary" value="Search" style="border-radius:5px;">

                </div>
            </form>

        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(images/slider/phone.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1" style=border-radius:10px;>Powerful and Best
                                    SmartPhone 2k19</h2>
                                <p class="boxed animation animated-item-2" style=border-radius:5px;>Samsung Galaxy
                                    S10+.
                                    Huawei p30 Pro.
                                    iPhone XS Max.
                                    Xiaomi MI 8pro.

                                    Google Pixel 3xl.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image:url(images/slider/multiple-lapt.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1" style=border-radius:10px;>Beautiful,
                                    Powerful and Best Design</h2>
                                <p class="boxed animation animated-item-2" style=border-radius:5px;>In this guide to the
                                    best laptops of 2019, we
                                    show you the very top laptops and notebooks that money can buy.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image:url( images/slider/best_laptop.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1" style=border-radius:10px;>Powerful 360 and
                                    Nice Design HP Laptop</h2>
                                <p class="boxed animation animated-item-2" style=border-radius:5px;>A blank display,
                                    software freezing, keyboard stops
                                    responding, or other external devices locking up.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="icon-angle-left"></i> </a> <a
        class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="icon-angle-right"></i> </a>
</section>




{{!-- <section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>

            <form class="form-inline">
                <input style="width:30%; height:36px;" class="form-control " type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-primary" type="submit" style="border-radius:5px;">Search</button>
            </form>

        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image:url( images/slider/Bestphones.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">Powerful and Best SmartPhone 2k18</h2>
                                <p class="animation animated-item-2">Samsung Galaxy Note 9.
                                    Samsung Galaxy S9 Plus.
                                    iPhone XS Max.
                                    Samsung Galaxy S9.
                                    iPhone XR.
                                    Google Pixel 3.
                                    OnePlus 6T.<br>
                                    <br>
                                    Google Pixel 3 XL. Every quality phone worthy of your consideration – all the
                                    handsets that really stand out from the crowd – can be found in our best phone 2019
                                    guide. Not only that, we've packed this article with information to help you get the
                                    right pick for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image:url(images/slider/multiple-lapt.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1">Beautiful, Powerful and Best Design</h2>
                                <p class="boxed animation animated-item-2">In this guide to the best laptops of 2019, we
                                    show you the very top laptops and notebooks that money can buy.</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image:url( images/slider/best_laptop.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content centered">
                                <h2 class="animation animated-item-1">Powerful 360 and Nice Design HP Laptop</h2>
                                <p class="animation animated-item-2">Performing a power reset might fix conditions such
                                    as Windows not responding, a blank display, software freezing, keyboard stops
                                    responding, or other external devices locking up.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="centered">
                                <div class="embed-container"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="icon-angle-left"></i> </a> <a
        class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="icon-angle-right"></i> </a>
</section> --}}