<section id="title" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>About Us</h1>
        <p>Over mission is help the user can easily Buy the product in nearest place and save our time.</p>
      </div>
      <div class="col-sm-6">
        <ul class="breadcrumb pull-right">
          <li><a href="/">Home</a></li>
          <li class="active">About Us</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about-us" class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>What we are :) </h2>
      <p>Due to ever increasing demand of electronic things and people are buying the product more now these days, so we
        can create a platform between buyer and seller they can easily connect each other and also buying and selling
        products in short time. The objective of the project is to provide bridge or (platform) between buyer and
        seller. That customer can find the product of its need. available in the nearest location.
        The customer can also search products of its need, when the search it automatically detect the location and
        check it this product is available is nearest location. The main purpose of this web app is save the time of
        customer and also save his money. This platform helpful and beneficial for both buyer and seller. This platform
        is helpful to seller they can increase the sales over products. This application is also provide the security
        for both buyer and seller because they can easily connect to each other, not a third person involved..</p>
    </div>

    <div class="col-sm-6">
      <h2>Our Skills</h2>
      <div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100" style="width: 90%;"> <span>HTML/CSS(90%) </span> </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width: 70%;"> <span>Bostrap(70%)</span> </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
            style="width: 80%;"> <span>JavaScript(80%)</span> </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width: 70%;"> <span>Nodjs(70%)</span> </div>
        </div>

      </div>
    </div>

  </div>


  <div class="gap"></div>
  <h1 class="center" data-aos="zoom-in" data-aos-duration="2000">Meet the Team</h1>
  <p class="lead center">Teamwork is the collaborative effort of a team to achieve a common goal or to complete a task
    in the most effective and efficient way.</p>
  <div class="gap"></div>
  <div id="meet-the-team" class="row">
    <div class="col-md-3 col-xs-6" data-aos="flip-left" data-aos-duration="2000">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/Member photo/ali2.jpg" alt=""
            style="width: 100px; height:120px;"></p>
        <h5>Syed Ali Haider<small class="designation muted">Member 1</small></h5>
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/profile.php?id=100010753270061"><i
            class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="https://plus.google.com/discover"><i
            class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/syed-ali-haider-725759167/"><i
            class="icon-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6" data-aos="flip-left" data-aos-duration="2000">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle"
            src="/images/Member photo/00100sPORTRAIT_00100_BURST20180225215224118_COVER.jpg" alt=""
            style="width: 100px; height:120px;"></p>
        <h5>Hasham Javed<small class="designation muted">Member 2</small></h5>
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
        <a class="btn btn-social btn-google-plus" href="https://plus.google.com/discover"><i
            class="icon-google-plus"></i></a>
        <a class="btn btn-social btn-twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a>
        <a class="btn btn-social btn-linkedin" href="https://pk.linkedin.com/"><i class="icon-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6" data-aos="flip-left" data-aos-duration="2000">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/Member photo/sajjawal.jpg" alt=""
            style="width: 100px; height:120px;"></p>
        <h5>Sajjawal Sajjad<small class="designation muted">Member 3</small></h5>
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sajjawal.sajjad.12"><i
            class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus"
          href="https://plus.google.com/discover"><i class="icon-google-plus"></i></a> <a
          class="btn btn-social btn-twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a> <a
          class="btn btn-social btn-linkedin" href="https://pk.linkedin.com/"><i class="icon-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6" data-aos="flip-left" data-aos-duration="2000">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/Member photo/Usama.jpg" alt=""
            style="width: 100px; height:120px;"></p>
        <h5>Usama Arshed<small class="designation muted">Member 4</small></h5>
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/"><i class="icon-facebook"></i></a> <a
          class="btn btn-social btn-google-plus" href="https://plus.google.com/discover"><i
            class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="https://twitter.com/"><i
            class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="https://pk.linkedin.com/"><i
            class="icon-linkedin"></i></a>
      </div>
    </div>
  </div>

</section>