{{> home/slider }}
<br>
<br>
{{>home/middle}}

<br>
<hr>



<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3><u> Latest Offer</u></h3>
                <p>Mobile phones are the most popular products that are sold online, especially here in Pakistan.we
                    assist you in buying your next mobile smartphone by showing you prices from popular online
                    shopping
                    websites, while highlighting the lowest mobile phone prices in Pakistan</p>
                <div class="btn-group"> <a class="btn btn-danger" href="#scroller" data-slide="prev"><i
                            class="icon-angle-left"></i></a> <a class="btn btn-danger" href="#scroller"
                        data-slide="next"><i class="icon-angle-right"></i></a> </div>
                <p class="gap"></p>
            </div>
            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-4 " data-aos="flip-up" data-aos-duration="1300">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive" src="/images/dims.jpg"
                                                alt="">
                                            <h5>Product: <u>Laptop And Mac</u> </h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4" data-aos="flip-up" data-aos-duration="1300">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive"
                                                src="/images/5c6d4fed2628986d372a64e5-750-500.jpg" alt="">
                                            <h5> Product: <u>Samsung and Iphone</u> </h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4" data-aos="flip-up" data-aos-duration="1300">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive" src="/images/1.jpg" alt="">
                                            <h5> Product: <u>Window Laptop</u> </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive"
                                                src="/images/mobile accessories.jpg" alt="">
                                            <h5> Product: <u>Accessories M , C</u> </h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive"
                                                src="/images/computer best 2018.jpg" alt="">
                                            <h5> Product: <u>Desktop Computer</u> </h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner"> <img class="img-responsive" src="/images/dell-xps.jpg"
                                                alt="">
                                            <h5>Product: <u>LAPTOP</u> </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


</section>


<!--  <section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2 data-aos="zoom-in" data-aos-duration="2000">What our Users Says</h2>
                    <p>Some Important User Overviews Of Over Website</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote data-aos="slide-left" data-aos-duration="2000">
                            <p>Its can save my time and my Money.i can easily buy the product with the help this
                                site
                            </p>
                            <small>Bilal Hussaian<cite title="Source Title">Ch08@gmail.com</cite></small>
                        </blockquote>
                        <blockquote data-aos="slide-right" data-aos-duration="2000">
                            <p>Aweosome :) i like it .very good website. great work.</p>
                            <small>alih23648 <cite title="Source Title">@gmaial.com</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote data-aos="slide-left" data-aos-duration="2000">
                            <p>Over all this website is good .and I can easily see the product price. </p>
                            <small>Sparrow1122 <cite title="Source Title">@yahoo.com</cite></small>
                        </blockquote>


                        <blockquote data-aos="slide-right" data-aos-duration="2000">
                            <p>This website is very good.i can see product price in my nearest location and buy the
                                product </p>
                            <small>hasham.hasham02 <cite title="Source Title">@outlook.com</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   --->





<section id="services" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left" data-aos="flip-left" data-aos-duration="2000"><a
                            href="https://twitter.com/1_hasham1"> <i id="Tw" class="icon-twitter icon-lg"></i> </a>
                    </div>
                    <div class="media-body">
                        <h3 id="aboutus" class="media-heading" data-aos="zoom-out" data-aos-duration="1200">Twitter
                            Marketing</h3>
                        <p>This is a Offical Twitter Account (Hasham Javed). We are Marketing Over Website.Any Issue
                            you
                            can Post on my Twitter Account </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left" data-aos="flip-left" data-aos-duration="2000"><a
                            href="https://www.facebook.com/profile.php?id=100010753270061"> <i id="fb"
                                class="icon-facebook icon-lg"></i></a> </div>
                    <div class="media-body">
                        <h3 id="aboutus" class="media-heading" data-aos="zoom-out" data-aos-duration="1200">Facebook
                            Marketing</h3>
                        <p>This is a Offical Facebook Account (Syed Ali Haider). We are Marketing Over Website.Any
                            Issue
                            you can Post on my Facebook Account</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left" data-aos="flip-left" data-aos-duration="2000"><a
                            href="https://www.instagram.com"> <i id="is" class="icon-instagram icon-lg"></i></a>
                    </div>
                    <div class="media-body">
                        <h3 id="aboutus" class="media-heading" data-aos="zoom-out" data-aos-duration="1200">
                            Instagram
                            Marketing</h3>
                        <p>This is a Offical Instagram Account (Sajjawal Sajjad). We are Marketing Over Website.Any
                            Issue you can Post on my Instagram Account.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>