<section id="privacy-policy" class="container">
    <h3>Introduction :</h3>
    <h5>A legal document that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer
        or client's data.<br>
        It fulfills a legal requirement to protect a customer or client's privacyWhen you use our services, you’re
        trusting us with your information.<br>
        We understand this is a big responsibility and work hard to protect your information and put you in control.
    </h5>
    <h3>Types of information we collect :</h3>
    <h5>we can collect the the difference types of information can be collect.
        <ul>
            <li>Collect the User Infromation</li>
            <li>Get the User Loaction</li>
            <li>Collect the Saller Info (Name,ShopName,Email,Address,PhoneNO,Location</li>
            <li>Collect the Data of the Product</li>
            <li>Product PIc, Spec,Price Etc.</li>

        </ul>
    </h5>

    <h3>Use of Information :</h3>
    <h5>We can USe this Infromation For Security Purpose.and Handle the Problem During runing over Website<br>We can use
        this Info for check the Saller is real or not and the product is avaliable.</h5>


</section>