<section id="terms" class="container">
    <h3>Introduction :</h3>
    <h5>Terms of service are rules by which one must agree to abide in order to use a service.<br> Terms of service can
        also be merely a disclaimer, especially regarding the use of websites.</h5>

    <h3> Prevent Abuses</h3>
    <h5>A Terms and Conditions acts as a legally binding contract between you and your users.<br>

        This is the agreement that sets the rules and guidelines that users must agree to and<br> follow in order to use
        and access your website. The Privacy Policy agreement informs
        <br>users what kind of data you collect and how you are using that data.

        In this agreement,<br> you can include the necessary sections to inform users of the guidelines of using
        your<br> website , what happens if users are abusing your website, and so on.
    </h5>
    <h3>Unauthorized/Illegal Usage :</h3>
    <h5>WebSite services may not be used for illegal purposes, or in support of illegal activities.<br> WebSite reserves
        the right to cooperate with legal authorities and/or injured third parties<br> in the investigation of any
        suspected crime or civil wrongdoing.Use of the WebSite service<br> to transmit any material (by e-mail,
        uploading, posting or otherwise) that threatens or<br> encourages bodily harm or destruction of property is
        strictly prohibited.</h5>



    <h3>Ownership :</h3>
    <h5> notify users that you, the company, is the owner of the content appearing on your websit <br>– except in cases
        where other users can post content (upload, share, create etc.) where<br> the users are the owners of such
        content</h5>





</section>