<section id="title" class="emerald">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <h1>Login</h1>
                <p>If Saller can already create account then, he Login and Add the product price. </p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a></li>

                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<div class="container">
    {{> home/form-msgs}}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6" style="background: #eeeeee; padding: 20px; border-radius: 10px; margin-top: 30px;">
            <h2 style="font-family:Arial,sans-serif;  border-bottom: 3px solid #ccc;padding-bottom: 9px">Login:
            </h2>
            <form action="/userlogin" method="post">

                <div class="form-group">
                    <div class="row col-md-12">
                        <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="row col-md-12">
                        <input type="password" class="form-control" id="password" placeholder="password"
                            name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
            <br>
            <p class="text-center">If You have not create account then <a href="/register" style="color:blue ">Click
                    Here!</a>
            </p>
        </div>


    </div>
</div><br>